listen={{ listen }}
listen_ipv6={{ listen_ipv6 }}
anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_mkdir_write_enable={{ anon_mkdir_write_enable }}
use_localtime={{ use_localtime }}
chown_uploads={{ chown_uploads }}
chown_username={{ chown_username }}
secure_chroot_dir={{ secure_chroot_dir }}
rsa_cert_file={{ rsa_cert_file }}
rsa_private_key_file={{ rsa_private_key_file }}
ssl_enable={{ ssl_enable }}
anon_root={{ anon_root }}
pam_service_name=vsftpd
userlist_enable=yes
dirmessage_enable=yes
xferlog_enable=yes
connect_from_port_20=yes
